.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #6b0202;
}

.header {
  margin-top: 30px;
}

.heroContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.hero {
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(216, 0, 0, 0.856);
}

.heroButton {
  background-color: transparent;
}

.link {
  color: #ffffff;
}

.link:hover {
  transform: scale(1.1);
}
