.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #6b0202;
  position: relative;
}

.backBtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  color: #6b0202;
  font-weight: 600;
}

.header {
  margin-top: 30px;
}
